body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}
header {
    background-color: #294399;
    color: rgb(255, 255, 255);
    padding: 1em 0;
    text-align: center;
}

nav ul {s
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

.about-container {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 1em;
    border: 2px solid #294399;
}

.project {
    background-color: #f4f4f4;
    padding: 1em;
    margin-bottom: 1em;
    width: 800px; /* Adjust width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px;
    margin-bottom: 1em;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1em;
}

#hobbies ul, #skills ul {
    list-style-type: none;
    padding: 0;
}

#hobbies ul li, #skills ul li {
    background-color: #f4f4f4;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1em;
}

form input, form textarea {
    padding: 0.5em;
    margin-top: 0.5em;
    width: 100%;
}

form button {
    margin-top: 1em;
    padding: 0.7em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #294399;
    color: white;
    padding: 1em 0;
}

.skill-bar {
    background-color: #bdd6be;
    height: 20px;
    border-radius: 10px;
    margin-top: 5px;
    position: relative; /* Added */
}

.skill-level {
    height: 100%;
    border-radius: 10px;
    background-color: #4caf50;
}

.percent {
    position: absolute;
    top: 0;
    right: 4px;
    color: rgb(121, 121, 121);

}